

.ipynb_checkpoints/
__pycache__/
.idea/
.vscode/
.eggs/

# docs
site/
docs/build/
docs/source/auto_examples/
docs/source/gen_modules/

envs/

build/
dist/

*.txt
*.json
*.csv
*.pq
*.xlsx
*.pdf

*.pyx
*.c
*.so
*.cpp
*.h
*.spec
