pandas<2.0   # to run it on readthedocs because of jinja >=3.1.2
matplotlib
scipy
pyarrow
openpyxl
easy_mpl>=0.21.4
joblib
seaborn

sphinx==4.5.0
sphinx-prompt
sphinx_copybutton
sphinx_toggleprompt
sphinx_rtd_theme
sphinx-gallery==0.11.1
sphinx_issues
sphinx-book-theme==0.3.3
sphinx-thebe
pydata-sphinx-theme==0.8.1